
.icon-algorithms:before { content: '\e800'; } /* '' */
.icon-campaigns:before { content: '\e801'; } /* '' */
.icon-data:before { content: '\e802'; } /* '' */
.icon-mission:before { content: '\e803'; } /* '' */
.icon-multichanel:before { content: '\e804'; } /* '' */
.icon-at-risk:before { content: '\e805'; } /* '' */
.icon-patient-engagement:before { content: '\e806'; } /* '' */
.icon-multilingual:before { content: '\e807'; } /* '' */
.icon-employers:before { content: '\e808'; } /* '' */
.icon-health-plans:before { content: '\e809'; } /* '' */
.icon-health-systems:before { content: '\e80a'; } /* '' */